{
        "prettyName": "{{ DELPHIX_SOURCE_DB_NAME }}",
        "dbPath": "{{ MONGO_SRC_DBPATH }}",
        "replicaSet": "{{ MONGO_SRC_REPLICASET }}",
        "discoveryType": "Manual",
        "mongoPort": {{ MONGO_SRC_PORT }},
        "mongoHost": "{{ MONGO_SRC_HOST_NAME }}"
}