{
            "prettyName": "{{ DELPHIX_VDB_NAME }}",
            "discoveryType": "Manual",
            "dbPath": "{{ DELPHIX_VDB_MOUNTPOINT }}",
            "replicaSet": "N/A",
            "mongoPort": {{ DELPHIX_VDB_PORT }},
            "mongoHost": "{{ MONGO_VDB_HOST_NAME }}"
}
