{
    "vdbPass":"{{ MYSQL_VDB_PASS }}",
    "baseDir":"{{ MYSQL_VDB_BASEDIR }}",
    "myCnf":"{{ MYSQL_VDB_CNFFILE }}",
    "vdbConn":"{{ MYSQL_VDB_USER }}",
    "port":"{{ DELPHIX_VDB_PORT }}",
    "config_settings_prov":[]
}