{
      "delphixInitiatedBackupFlag": true,
      "keepStagingInSync": false,
      "postgresPort": 5433,
      "externalBackup": [],
      "delphixInitiatedBackup": [
        {
          "userName": "delphix",
          "postgresSourcePort": 5432,
          "userPass": "delphix",
          "sourceHostAddress": "postsrc.example.com"
        }
      ],
      "configSettingsStg": []
}